{% extends "_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/diagrams/styles/grapheditor.css">
    <link rel="stylesheet" type="text/css" href="/static/diagrams/styles/overrides.css">

    <div id="editorContainer">
        <div class="well col-md-4 col-md-offset-4">
            <h1 class="text-center">Editor Loading...</h1>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/diagrams/js/Init.js"></script>
    <script type="text/javascript" src="/static/diagrams/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="/static/diagrams/sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="/static/diagrams/mxClient.min.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/EditorUi.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Editor.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Sidebar.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Graph.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Shapes.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Actions.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Menus.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Format.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Toolbar.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Dialogs.js"></script>

    <script type="text/javascript">
        // Extends EditorUi to update I/O action states based on availability of backend
        (function()
        {
            var editorUiInit = EditorUi.prototype.init;

            EditorUi.prototype.init = function()
            {
                editorUiInit.apply(this, arguments);
                this.actions.get('export').setEnabled(false);
                this.actions.get('open').setEnabled(true);
                this.actions.get('import').setEnabled(true);
                this.actions.get('save').setEnabled(true);
                this.actions.get('saveAs').setEnabled(false);

                this.editor.getOrCreateFilename = function()
                {
                    return this.filename || mxResources.get('diagram');
                };

                this.editor.diagramId = null;
                {% if diagram_filename and diagram_xml %}
                    this.editor.diagramId = {{ diagram_id }};
                    this.editor.filename = "{{ diagram_filename }}";
                    this.editor.setGraphXml(mxUtils.parseXml("{{ diagram_xml | escapejs }}").documentElement);
                {% endif %}
            };

            EditorUi.prototype.save = function(filename) {
                if (!this.editor.diagramId) {
                    $.post("{% url 'diagrams:create' %}", {
                        "filename": filename,
                        "xml": this.editor.getGraphXml(true).outerHTML
                    }, function(response) {
                        alert(response.message);
                        if (response.success) {
                            window.onbeforeunload = null; // Stop "changes may not be saved" message
                            window.location.href = window.location.origin + "{% url 'diagrams:editor' %}" + response.diagram_id;
                        }
                    })
                } else {
                    $.post("{% url 'diagrams:update' %}", {
                        "filename": filename,
                        "xml": this.editor.getGraphXml(true).outerHTML,
                        "diagram_id": this.editor.diagramId
                    }, function(response) {
                        alert(response.message);
                    })
                }
            }

            // Adds required resources (disables loading of fallback properties, this can only
            // be used if we know that all keys are defined in the language specific file)
            mxResources.loadDefaultBundle = false;
            var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
                mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

            // Fixes possible asynchronous requests
            mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
            {
                // Adds bundle text to resources
                mxResources.parse(xhr[0].getText());

                // Configures the default graph theme
                var themes = new Object();
                themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

                // Main
                window.editor = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("editorContainer"));
            }, function()
            {
                document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
            });
        })();
    </script>
{% endblock %}
