{% extends "_base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/diagrams/styles/grapheditor.css">
    <link rel="stylesheet" type="text/css" href="/static/diagrams/styles/overrides.css">

    <div id="editorContainer">
        <div class="well col-md-4 col-md-offset-4">
            <h1 class="text-center">Editor Loading...</h1>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/diagrams/js/Init.js"></script>
    <script type="text/javascript" src="/static/diagrams/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="/static/diagrams/sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="/static/diagrams/mxClient.min.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/EditorUi.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Editor.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Sidebar.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Graph.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Shapes.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Actions.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Menus.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Format.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Toolbar.js"></script>
    <script type="text/javascript" src="/static/diagrams/js/Dialogs.js"></script>

    <script type="text/javascript">
        // Extends EditorUi to update I/O action states based on availability of backend
        (function()
        {
            var editorUiInit = EditorUi.prototype.init;

            EditorUi.prototype.init = function()
            {
                editorUiInit.apply(this, arguments);
                this.actions.get('export').setEnabled(false);
                this.actions.get('open').setEnabled(true);
                this.actions.get('import').setEnabled(true);
                this.actions.get('save').setEnabled(true);
                this.actions.get('saveAs').setEnabled(false);

                this.editor.getOrCreateFilename = function()
                {
                    return this.filename || mxResources.get('diagram');
                };

                window.newFile = true;
                {% if diagram_filename and diagram_xml %}
                    this.editor.diagramId = {{ diagram_id }};
                    this.editor.filename = "{{ diagram_filename }}";
                    this.editor.setGraphXml(mxUtils.parseXml("{{ diagram_xml | escapejs }}").documentElement);
                    window.newFile = false;
                {% endif %}
            };

            EditorUi.prototype.save = function(filename) {
                if (!this.editor.diagramId) {
                    $.post("{% url 'diagrams:create' %}", {
                        "filename": filename,
                        "xml": this.editor.getGraphXml(true).outerHTML
                    }, function(response) {
                        alert(response.message);
                        if (response.success) {
                            window.onbeforeunload = null; // Stop "changes may not be saved" message
                            window.location.href = window.location.origin + "{% url 'diagrams:editor' %}" + response.diagram_id;
                        }
                    })
                } else {
                    $.post("{% url 'diagrams:update' %}", {
                        "filename": filename,
                        "xml": this.editor.getGraphXml(true).outerHTML,
                        "diagram_id": this.editor.diagramId
                    }, function(response) {
                        alert(response.message);
                    })
                }
            }

            // Adds required resources (disables loading of fallback properties, this can only
            // be used if we know that all keys are defined in the language specific file)
            mxResources.loadDefaultBundle = false;
            var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
                mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

            // Fixes possible asynchronous requests
            mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
            {
                // Adds bundle text to resources
                mxResources.parse(xhr[0].getText());

                // Configures the default graph theme
                var themes = new Object();
                themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

                // Main
                window.editor = new EditorUi(new Editor(urlParams['chrome'] == '0', themes), document.getElementById("editorContainer"));

                // In order to get the palettes in the correct order we will remove all the default ones then add the ones we want in the correct order
                for (var palette in window.editor.sidebar.palettes) {
                    window.editor.sidebar.removePalette(palette);
                }

                window.editor.sidebar.addSearchPalette(true);
                var ciscoStencils = ["buildings.xml", "computers_and_peripherals.xml", "controllers_and_modules.xml", "directors.xml",
                    "hubs_and_gateways.xml", "misc.xml", "modems_and_phones.xml", "people.xml", "routers.xml", "security.xml", "servers.xml",
                    "storage.xml", "switches.xml", "wireless.xml"];
                for (var i = 0; i < ciscoStencils.length; i++) {
                    var filename = ciscoStencils[i];
                    var name = filename.replace(".xml", "");
                    var title = "Cisco / " + name.toLowerCase().split('_').map(function(word) {
                        return (word.charAt(0).toUpperCase() + word.slice(1));
                    }).join(' ');
                    window.editor.sidebar.addStencilPalette(name, title, STENCIL_PATH + '/cisco/' + filename,
		                ';whiteSpace=wrap;html=1;fillColor=#036897;strokeColor=#FFFFFF;strokeWidth=1');
                }
                window.editor.sidebar.addGeneralPalette(false);
            	window.editor.sidebar.addMiscPalette(false);
            	window.editor.sidebar.addAdvancedPalette(false);
            	window.editor.sidebar.addStencilPalette('basic', mxResources.get('basic'), STENCIL_PATH + '/basic.xml',
            		';whiteSpace=wrap;html=1;fillColor=#ffffff;strokeColor=#000000;strokeWidth=2');
            	window.editor.sidebar.addStencilPalette('arrows', mxResources.get('arrows'), STENCIL_PATH + '/arrows.xml',
            		';whiteSpace=wrap;html=1;fillColor=#ffffff;strokeColor=#000000;strokeWidth=2');
            	window.editor.sidebar.addUmlPalette(false);
            	window.editor.sidebar.addBpmnPalette(STENCIL_PATH, false);
            	window.editor.sidebar.addStencilPalette('flowchart', 'Flowchart', STENCIL_PATH + '/flowchart.xml',
            		';whiteSpace=wrap;html=1;fillColor=#ffffff;strokeColor=#000000;strokeWidth=2');
            	window.editor.sidebar.addImagePalette('clipart', mxResources.get('clipart'), STENCIL_PATH + '/clipart/', '_128x128.png',
            		['Earth_globe', 'Empty_Folder', 'Full_Folder', 'Gear', 'Lock', 'Software', 'Virus', 'Email',
            		 'Database', 'Router_Icon', 'iPad', 'iMac', 'Laptop', 'MacBook', 'Monitor_Tower', 'Printer',
            		 'Server_Tower', 'Workstation', 'Firewall_02', 'Wireless_Router_N', 'Credit_Card',
            		 'Piggy_Bank', 'Graph', 'Safe', 'Shopping_Cart', 'Suit1', 'Suit2', 'Suit3', 'Pilot1',
            		 'Worker1', 'Soldier1', 'Doctor1', 'Tech1', 'Security1', 'Telesales1'], null,
            		 {'Wireless_Router_N': 'wireless router switch wap wifi access point wlan',
            		  'Router_Icon': 'router switch'});

                if (window.newFile) {
                    window.editor.setPageFormat(mxConstants.PAGE_FORMAT_A4_LANDSCAPE);
                }
            }, function()
            {
                document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
            });
        })();
    </script>
{% endblock %}
