{% extends '_base.html' %}
{% load helpers %}

{% block title %}Diagrams{% endblock %}

{% block content %}
<div class="pull-right">
	<a href="{% url 'diagrams:editor' %}" class="btn btn-primary">
		<span class="fa fa-plus" aria-hidden="true"></span>
		Create a new Diagram
	</a>
</div>
<h1>Diagrams</h1>
<div class="row">
	<div class="col-md-12">
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for diagram in diagrams %}
                        <tr>
                            <td><a href="{% url 'diagrams:editor' diagram.id %}">{{ diagram.name }}</a></td>
                            <td>
                                <a href="{% url 'diagrams:editor' diagram.id %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> View/Edit</a>
                                <a href="{% url 'diagrams:export' diagram.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-export"></span> Export</a>
                                <button class="btn btn-warning btn-sm btn-rename" data-diagram-id="{{ diagram.id }}" data-diagram-name="{{ diagram.name }}"><span class="glyphicon glyphicon-edit"></span> Rename</button>
                                <button class="btn btn-info btn-sm btn-duplicate" data-diagram-id="{{ diagram.id }}" data-diagram-name="{{ diagram.name }}"><span class="glyphicon glyphicon-duplicate"></span> Duplicate</button>
                                <a href="{% url 'diagrams:delete' diagram.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".btn-rename").click(function() {
            var diagramId = $(this).attr("data-diagram-id");
            var diagramName = $(this).attr("data-diagram-name");
            var newName = prompt("Rename \"" + diagramName + "\" to", diagramName);

            if (newName == null) { // Cancel was pressed
                return;
            }

            $.post("{% url 'diagrams:rename' %}", {
                "diagram_id": diagramId,
                "new_name": newName
            }, function(response) {
                alert(response.message);
                window.location.reload();
            });
        });

        $(".btn-duplicate").click(function() {
            var diagramId = $(this).attr("data-diagram-id");
            var diagramName = $(this).attr("data-diagram-name");
            var newName = prompt("Name for new diagram", "Copy of " + diagramName);

            if (newName == null) { // Cancel was pressed
                return;
            }

            $.post("{% url 'diagrams:duplicate' %}", {
                "diagram_id": diagramId,
                "new_name": newName
            }, function(response) {
                alert(response.message);
                window.location.reload();
            });
        });
    });
</script>
{% endblock %}
